{% extends "base.html" %}

{% block title %}Manage Users{% endblock %}

{% block extra_import %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/static/users.js"></script>
<script src="/static/msg.js"></script>
<style>
    table input {
        max-width: 150px;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <table>
        {% if data %}
        <thead>
            <tr>
                {% for key in data[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
                <th>password</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for user in data %}
            <tr>
                <td>{{ user['id'] }}</td>
                <td><input type="text" value="{{ user['username'] }}" required></td>
                <td><input type="email" value="{{ user['email'] }}" required></td>
                <td><input type="checkbox" {% if user['is_admin'] %} checked {% endif %}></td>
                <td><input type="text" value="{{ user['verify_code'] }}" required></td>
                <td><input type="text" value="{{ user['api_key'] }}" required></td>
                <td>{{ user['register_time'] }}</td>
                <td><input type="password"></td>
                <td>
                    <button class="update" onclick="send_update(this);">Update</button>
                    <button class="remove" onclick="send_remove({{ user['id'] }});">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <p style="margin-left: 30px;">No records</p>
        {% endif %}
    </table>
</div>
<div>
    <form action="/manage_user" method="post">
        {{ form.csrf_token }}
        <div class="field">
            {{ form.username }}
        </div>
        <div class="field">
            {{ form.password }}
        </div>
        <div class="field">
            {{ form.email }}
        </div>
        <div class="field">
            {{ form.is_admin }}
            {{ form.is_admin.label }}
        </div>
        <div class="field">
            {{ form.submit }}
        </div>
    </form>
</div>
{% endblock %}