{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="center-container">
    <h1>Register</h1>
    <form action="/register" method="post">
        {{ form.csrf_token }}
        <div class="field">
            {{ form.username }}
        </div>
        <div class="field">
            {{ form.password }}
        </div>
        <div class="field">
            {{ form.repeat_password }}
        </div>
        <div class="field">
            {{ form.email }}
        </div>
        <div class="field">
            {{ form.submit }}
        </div>
    </form>
</div>
{% endblock %}