{% extends "base.html" %}

{% block title %}Setting{% endblock %}

{% block content %}
<div class="center-container">
    <form action="/setting" method="POST">
        {{ form.csrf_token }}
        <div class="field"><b>ID:</b> {{ data["id"] }}</div>
        <div class="field"><b>Username:</b> {{ data["username"] }}</div>
        <div class="field"><b>Password:</b> {{ form.password }}</div>
        <div class="field"><b>Email:</b> {{ form.email }}</div>
        <div class="field"><b>API key:</b> {{ data["api_key"] }}</div>
        <div class="field"><b>Register Time:</b> {{ data["register_time"].strftime("%Y-%m-%d") }}</div>
        <div class="field">{{ form.submit }}</div>
    </form>
</div>
{% endblock %}